@import "./media-queries.css";
@import "./main-page.css";
@import "./blog-pages.css";

/* font family */
body {
    font-family: 'PT Serif', serif;
}

.blog-logo{
    height:200px;
    max-width: fit-content;
}

    h1 {
        color: #000;
        text-align: center;
    }

    h2 {
        padding: 0px;
        color: #547625;
        text-decoration: underline;
        text-align: center;
    }

    h3 {
        color: #547625;
        text-decoration: none;
    }

    h4 {
        color: #464646;
        align-self: flex-start;
        padding: 0px;
    }

    h5 {
        color: #464646;
        align-self: flex-start;
        padding: 0px;
    }

    

   