
/* Main Page */
@media(min-width:901px) {
    content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 30vh 10vh 18vh auto 15vh 5vh;
        grid-template-areas: 
            "bl nv nv nv nv"
            ". . . . ."
            "hd hd hd hd hd"
            "main main main main main"
            "ft ft ft ft ft"
            ". . . . .";
    }
    .blog-logo{
        grid-area: bl;
        height:200px;
        max-width: fit-content;
    }
    .nav-bar{
            grid-area: nv;
            padding: 2%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-self:center;
            height: 50px;
            font-size: 30px;
            }
    .blog-header {
            grid-area: hd;
            padding: 10px 0 20px 0;
            align-items: center;
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            }

        .tagline {
            display: inline;
        }
    .main-section {
        grid-area: main;
        width: 80%;
        gap: 20px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
    .footer-blog {
            grid-area: ft;
            padding: 20px;
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 30px 30px;
            align-items: center;
        }
}

/* Blog Page */
@media(min-width:901px) {

    .blog-content {
        display: grid;
        width: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 30vh 15vh auto 5vh 15vh;
        grid-template-areas: 
            "bl nv nv nv nv"
            "sb sb hd hd hd"
            "sb sb main main main"
            "hb hb hb hb hb"
            "ft ft ft ft ft"
            ". . . . .";
    }
    .blog-logo{
        grid-area: bl;
        height:200px;
        justify-self: center;
        max-width: fit-content;
    }
    .nav-bar{
            grid-area: nv;
            padding: 2%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-self:center;
            height: 50px;
            font-size: 30px;
            }
    .blog-header {
            grid-area: hd;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 5px;
            gap: 0px;
            margin-bottom: 5px;
            }           
    .author-info {
        grid-area: sb;
        background-color: rgb(223,238,201,0.2);
        box-shadow: 8px 16px 16px 0 rgb(239,239,239);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr 2fr;
        grid-template-areas: 
            "img "
            "name"
            "job"
            "blurb";
    }

            .avatar-image {
                grid-area: img;
                height:120px;
                width:120px;
                border-radius:50%;
                justify-content: center;
                align-content: center;
            }

            .author-name{
                grid-area: name;
                margin: 2%;
            }

            .author-job{
                grid-area: job;
                margin: 2%;
            }

            .author-blurb{
                grid-area: blurb;
                margin-top: 8%;
                margin-left: 2%;
                margin-right: 2%;
            }
    .main-blog-content{
        grid-area: main;
        margin-top: 20px;
        margin-left: 20px;
        position: relative;
    }
    .home-button {
       grid-area: hb;
       background-image: url("../images/home-icon.png");
       background-position: center;
       background-size: contain;
       width: 50px;
       height: 50px;
       margin-left: 45%;
       margin-top: 20px;
     }
     .footer-blog{
        grid-area: ft;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50% 50%;
    }
    p {
        font-size: large;
    }
}

