/* to style the background of the page */
body {
    font-family: 'PT Serif', serif;
}

/* header style*/
.header {
    display: flex;
    height: auto;
    width: 90%;
    flex-direction: column;
    border: 2px solid rebeccapurple;
    justify-content: center;
    align-items: center;
    padding: 2%;
}


/* content style */

content {
 /* css grid the whole page here */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto 20%  
}

    .nav-bar{
        grid-area: 1/1/1/1;
        padding: 2%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
    }

    .search-button{
        padding: 1%;
        width: auto;
        height: auto;
        background-color: #ffffff;
        border: none;
    }
    
 
    .main-section{
        grid-area: 2/1/2/1;
        width: 80%;
        gap: 20px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content-cards{
        width: 200px;
        height: 250px;
        border: 2px solid red;
        gap: 10px;
        background-color: #efefef ;
        border-color: #e9efe0;
        border-radius: 5%;
        padding: 2%;
    }

    .content-cards:hover{
        box-shadow: 0 8px 16px 0 #e9efe0;
    }

    .card-one {

    }
 

    .footer{
        grid-area: 3/1/3/1;
        border: 1px solid red;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50% 50%;
    }

    .instagram{
        grid-area: 1/1/1/1;
        border: 1px solid red;
    }

    .twitter {
        grid-area: 1/2/1/2;
        border: 1px solid red;   
    }

    .facebook {
        grid-area: 1/3/1/3;
        border: 1px solid red;
        padding-left: 60%;
    
    }

    .subscribe {
        grid-area: 2/1/2/4;
        margin-top: 20px;
        border: 1px solid red;

        padding-left: 20%;
        padding-top: 2%;
    }




